<div id="login-section" class="devise-page form-page session-main log small">

  <div id="toolbar-container">  
    <img alt="Open" id="simple-menu" class="icon-menu" 
         src="https://content.codecademy.com/projects/z2d/stories/menu-black.svg" />
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to root_path do %>
      <%= image_tag "fmf-logo-black.png", id: "logo", class: "icon-logo" %>
    <% end %>
  </div>
    
  <div id="login-container" class="devise-container">

    <div id="login-content" class="devise-content">
      

      <div class="container devise-page-title">
        <h1>Forgot your password?</h1>
        <!--%= local_time(schedule.start, format: '%e %b, %Y — %H:%M %P') %-->
        <!--h2>Photo by <a href="https://unsplash.com/@sincerelymedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sincerely Media</a> on <a href="https://unsplash.com/wallpapers/colors/blue?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a><h2-->

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="submit actions">
          <%= f.submit "Send me reset password instructions", :class => "btn btn-submit", :id => "btn-long" %>
        </div>
        <% end %>
        
        <div class="devise-links">  
          <%= render "devise/shared/links" %>
        </div>
        
      </div>
    </div>
  </div>
</div>
