<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @client.photo %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @client.bio %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @client.account_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
