<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @trainer.photo %>
</p>

<p>
  <strong>First name:</strong>
  <%= @trainer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @trainer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @trainer.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @trainer.bio %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @trainer.experience %>
</p>

<p>
  <strong>User:</strong>
  <%= @trainer.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @trainer.account_id %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
